<ion-view view-title="Semana Acadêmica 2015">
  <ion-content class="padding">


      <center> <img margin="0px auto" width="40%" src="img/semena-academica-header.png" /></center>

    <div class="list card">
      <div class="item item-divider">Últimas Notícias</div>



      <div class="item item-body">
        <div>
          Assista a palestrad do <b>Lorem Ipsum Dolor</b>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Calendário</div>
      <div class="item item-body">
        <div>
          You ate an apple today!
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Countdown</div>
      <div class="item item-body">
        <div>

              

          You have <b> <timer /> </b> meetings on your calendar tomorrow.
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
